/*Общий стиль*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
    background-color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
}
header {
    padding: 1px 0;
    height: 105px;
    background-color: #BDF8D1;
    text-align: center;
    /*border: 1px solid black*/
}
h3 {
    margin-left: 50px;
}
section {
    margin: 55px;
    /*border: 1px solid black*/
}

footer {
    height: 65px;
    background-color: #BDF8D1;
    font-size: 80%;
    text-align: center;
    /*border: 1px solid black;*/
}

/*Для таблиц*/

td,th {

    padding: 5px 10px;

}
table {
    margin-left: 30px;
    border-collapse: collapse;


    text-align: left;
    font-size: 80%;
}
.left {
    float: left;
    margin: 25px 20px 10px 20px;
}

.page-nav {
    padding: 1px 60px;
    background-color: #60D4AE;
    height: 70px;
    /*border: 1px solid black;*/
}

.page-nav li {
    display: inline;
    list-style-type: none;
    /*border: 1px solid black;*/
}
.page-nav li a {
    margin-left:10px;
    padding: 24px 20px;
    color: #0403ae;
    line-height: 30px;
    font-size: 110%;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    /*border: 1px solid black*/
}
.page-nav li a:hover {
    color: yellowgreen;
    background-color: black;
}
.table1 {
    line-height: 0.7em;
}
.table1 td,th {
    border: 1px solid #E87B1A;
}
.footer ul {
    padding-top: 15px;  /* 2 строки*/
    /*padding-top: 26px;   !*1 строка*!*/
    /*border: 1px solid black;*/
}

.footer ul li {
    margin-right: 40px;  /* 2 строки*/
    /*padding: 10px 20px;  !*1 строка*!*/
    /*display: inline;  !*1 строка*!*/
    list-style-type: none;
    /*border: 1px solid black;*/
}
/*Обёртка для футера*/
.page-wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    /*border: 1px solid black;*/
}
.page-buffer {
    height: 70px;
    /*border: 1px solid black;*/
}

