/*Общий стиль*/
body {
    background-color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
    }
header {
    /*margin: 0;*/
    height: 150px;
}
nav {
    /*margin: 0px;*/
}

th, td {
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
}
table {
    border-collapse: collapse;
    text-align: center;
}
thead {
    background: #dddddd;
    border: 5px solid #aaaaaa;
}
tfoot {
    background: #ffda9e;
    border: 5px solid #aaaaaa;
}
label {
    font-size: 80%;
    width: 150px;
    display: inline-block;
    cursor: pointer;
}
form {
    width: 500px;
    margin: 20px 0;
}
fieldset {
    border: 3px double #aaaaaa;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
}
legend {
    background-color: aquamarine;
    border-radius: 3px;
    padding: 5px 10px;
}

.left {
    float: left;
    margin: 25px 20px 10px 20px;
        }
.header {
    padding: 1px;
    line-height: 40px;
    background-color: #BDF8D1;
    text-align: center;
    /*border: 1px solid black;*/

    }
.page-nav {
    padding: 1px 60px;
    background-color: #60D4AE;
    height: 70px;
    /*border: 1px solid black;*/
}
.page-nav li {
    display: inline-block;
    list-style-type: none;
    }
.page-nav a {
    margin-left:10px;
    padding: 25px 20px;
    color: #822bae;
    line-height: 30px;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
}
.page-nav li a:hover {
    color: yellowgreen;
    background-color: black;
}